version: 1.0.{build}

branches:
  only:
    - master

image: Visual Studio 2017
platform:
  - x64
environment:
  GH_TOKEN:
    secure: QApTMXYx9yadrrlsoagOyHV1ZSJtCa60hCqKlkqB9OymwNuBB1m0cVdTllr+uYMd

cache:
  - node_modules
  - '%APPDATA%\npm-cache'
  - '%USERPROFILE%\.electron'
  - '%USERPROFILE%\AppData\Local\Yarn\cache'

init:
  - git config --global core.autocrlf input

install:
  - ps: Install-Product node 8 x64
  - git reset --hard HEAD
  - yarn
  - node --version

build_script:
  - yarn build

after_build:
  - cp -fr build/*.exe mius-win-%APPVEYOR_REPO_TAG_NAME%.exe

after_deploy:
  - cd build
  - git clone https://github.com/milluxdev/mius_cos.git
  - cp *.exe ./mius_cos/
  - cp *.yml ./mius_cos/
  - cp *.blockmap ./mius_cos/
  - cd mius_cos
  - npm install
  - node ./index.js %SecretId% %SecretKey% %Bucket% %Region%
  - cd ..

artifacts:
  - path: mius-win-$(APPVEYOR_REPO_TAG_NAME).exe
    name: mius client

deploy:
  description: 'mius build commit $(APPVEYOR_REPO_COMMIT) $(APPVEYOR_REPO_COMMIT_TIMESTAMP)'
  provider: GitHub
  force_update: true
  auth_token:
    secure: QApTMXYx9yadrrlsoagOyHV1ZSJtCa60hCqKlkqB9OymwNuBB1m0cVdTllr+uYMd
  on:
    appveyor_repo_tag: true 

test: off